@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 13px;
      height: 100%;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #d9e6c9;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #d8ebc1;
      border-radius: 100vh;
      border: 3px solid #f4f7ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #bad4a4;
    }
  }
  